/* For utility classes just to make the design work */

html[data-theme='light'] .releaseBlogLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ccc;
    margin-bottom: 1rem;
}

html[data-theme='dark'] .releaseBlogLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #333;
    margin-bottom: 1rem;  
}

.releaseBlogLink a {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
}